<aside>
	<div class="panel radius">
		<h3>Hacking Resources</h3>
		<p>
			Resources, Tools and Lists
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Do+not+hate+the+hacker+hate+the+code" alt="">


	<div class="border-dotted radius b30">
		<img src="https://raw.githubusercontent.com/eslam-mohamed-reda/hacking-resources/master/favicon.ico" alt="uh, pussy">
		<p class="text-left">
			This is our crazy cat! <a href="http://hacking-resources.com/">Let it bring more articles!</a>
		</p>
	</div>
</aside>